body { 
	font-family: museo, serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	background-color: #F7D65E;
	line-height: 1.5;
	 }

footer {
	padding-top: 50px;
	padding-bottom: 50px;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


.inner_main_menu {  
	margin: 0 auto; 
	width: 100%;
	padding-top: 87px;

}

.inner_main_menu ul {
	text-align: right;
	padding-right: 100px;
}

.inner_main_menu ul li {  
	display: inline-block;
}


.inner_main_menu ul li a {  
	color: black;
	text-transform: lowercase;
	display: block;
	padding: 0 20px;
}

.inner_main_menu ul li a:hover {  
	color: #d1242a;
	text-transform: lowercase;
}


.left {text-align: left;}

.logo_area {
	width: 150px;
	height: 100px;
	padding-top: 35px !important;
	margin-left: 85px !important;
	text-align: center;
	display: inline-block;
}




h1 {
	font-family: museo, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	margin-top: 20px;
}


h2 {
	font-family: museo, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 27px;
	text-transform: uppercase;
	color: #d1242a;
	margin-bottom: -20px;
	
}

h3 {
	
	color: #d1242a;
	display: inline;
}

h4 {
	font-family: museo, serif;
	font-weight: 700;
	font-style: normal;
	color: black;

}

h4:hover { 
	color: #d1242a; 
	text-decoration: none;
	}

h5 {
	font-family: museo, serif;
	font-weight: 300;
	font-style: italic;
}

blockquote {
	margin: 20px 60px;
}

header {
	}

.slideshow-container img { 
	width: 100%; 
	}


.shopping img { 
	width: 100%; 
	}


b {	
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	
}

a { 
	color: #d1242a;
	text-decoration: none;
	 }

a:hover { color: black; }

main {
	margin-top: 35px;
}

.about {
	background-image: url(../images/nong3.jpg);
	background-size: fill;
	display: block;
}
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
	

}


.about_bg_img { 
	width: 100%;
	height: 100vh; 
	display: grid;
	grid-template-columns: 50% 50%; 
	}


.bg_image {
	background-image: url(../images/nong3.jpg);
	background-size: fill;
	height: 530px;
	display: block;
	object-fit: cover;
}




.grid div {
	padding: 20px;
}

.shopping {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 40px;
		width: 90%;
		margin: auto;
		
	}

.shopping div {
	padding: 20px;
}

.hide-mobile { display:none; }

/* homepage slideshow */
.slideshow-container {
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.container, .container > div, .container > div #map-canvas {
    height: inherit;
}

/* mobile nav */

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
    z-index: 9;
}
.menu {
    margin: 0 30px 0 0;

}
.menu a {
    clear: right;
    text-decoration: none;
    margin: 0 10px;
    line-height: 70px;
    background-color: #F7D65E;

}

label {
    margin: 50px 80px;
    font-size: 35px;
    line-height: 70px;
    display: none;
    width: 30px;
    float: right;

}
#toggle {
    display: none;
}



@media only screen and (min-width: 768px) {


	.grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
		width: 70%;
	}
	

	.shopping {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 1024px) {
    label {
        display: block;
        grid-template-columns: 1fr;

   }

   .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
		background-color: #F7D65E;
		border-bottom: 1px solid;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    .inner_main_menu {
    	display: none;
    }
}

@media only screen and (min-width: 1025px) {
	.menu {display: none;}
	.nav{display: none;}
	header {
		grid-template-columns: 1fr 1fr;

	}
	.shopping {
		grid-template-columns: 1fr 1fr 1fr;

	}

}

@media only screen and (min-width: 1200px) {
	.menu {display: none;}
	.nav{display: none;}


}
	

@media only screen and (min-width: 1440px) {
	.menu {display: none;}
	.nav{display: none;}
	header {
		grid-template-columns: 1fr 1fr;

	}


}








