body { 
	font-family: museo, serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	background-color: #F7D65E;
	line-height: 1.5;
	width: 100%;
	height:100%;
	min-width: 100%;
	margin: auto;
	 }


footer {
	padding-top: 50px;
	padding-bottom: 50px;
	margin: auto;

}


header {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.homepage header{
	background: url("../images/chickenandrice_home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	min-height: 1000px;
	background-color: #F7D65E;
}


.bg {
	/*background: url("../images/bg_pattern.png") repeat 0 0;
	background-size: cover;
  	background-position: center;*/
  	width: 100%;
  	height: 100%;
}


/* desktop/laptop navbar */
.inner_main_menu {  
	margin: 0 auto; 
	width: 100%;
	padding-top: 87px;
}

.inner_main_menu ul {
	text-align: right;
	padding-right: 90px;
}

.inner_main_menu ul li {  
	display: inline-block;
}

.inner_main_menu ul li a {  
	color: black;
	text-transform: lowercase;
	display: block;
	padding: 0 20px;
}

.inner_main_menu ul li a:hover {  
	color: #d1242a;
	text-transform: lowercase;
}


.left {text-align: left;}

.logo_area {
	width: 150px;
	height: 100px;
	padding-top: 35px !important;
	margin-left: 85px !important;
	display: inline-block;
	text-align: center;

}


p {
	padding: ;
}

h1 {
	font-family: museo, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	margin-top: 20px;
}


h2 {
	font-family: museo, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 27px;
	text-transform: uppercase;
	color: #d1242a;
	margin-bottom: -20px;
	
}

h3 {
	color: #d1242a;
	display: inline;

}

h4 {
	font-family: museo, serif;
	font-weight: 700;
	font-style: normal;
	color: black;

}

h4:hover {
	color: #d1242a; 
	text-decoration: none;
	}

h5 {
	font-family: museo, serif;
	font-weight: 300;
	font-style: italic;
}

h6 {
	font-family: museo, serif;
	font-weight: 700;
	font-style: normal;
	color: black;
	font-size: 35px;
	margin-top: 30px;
}



blockquote {
	margin: 20px 60px;
}

header {
	}

hr {
	display: block;
	width: 65px;
    height: 1px;
    border: 0;
    border-top: 5px solid #d1242a;
    margin: 1em 0;
    padding: 0;
}

b {	
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	
}

a { 
	color: #d1242a;
	text-decoration: none;
	 }

a:hover { color: black; }

main {
	margin-top: 35px;
	height: 500px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 50px;
	width: 70%;
	margin: auto;
}

.about {
	margin-top: auto;
}


.grid_about img {
	width: 20%;
	margin: 0;
	-o-object-fit: cover;
	object-fit: cover;
}


.grid_about {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	margin: auto;
	object-fit: cover;
	height: 100vh;
	min-height: 500px;

}

.grid_about div  {
	background-color: white;
	padding: 20px 60px;

}


.grid_about img { 
		width: 100%; 
		height: 100%;
		object-fit: cover;
		min-height: 300px;

	}

.grid_about p { 
		margin: auto;
	}



.shopping {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 40px;
		width: 90%;
		margin: auto;
		padding-bottom: 80px;
		
	}

.shopping div {
	padding: 20px;
}

.hide-mobile { display:none; }

/* mobile nav */
.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
    z-index: 9;
}
.menu {
    margin: 0 30px 0 0;

}
.menu a {
    clear: right;
    text-decoration: none;
    margin: 0 10px;
    line-height: 70px;
    background-color: #F7D65E;

}

.shopping img { 
	width: 100%; 
	}


/* hamburger nav*/
label {
    margin: 50px;
    font-size: 35px;
    line-height: 70px;
    display: none;
    width: 30px;
}

#toggle {
    display: none;
}


iframe {
	object-fit: cover;
	width: 100%;
	height:100%;
	min-height: 300px;
	display: inline-block;
	overflow: auto;
	position: relative;
}

form  {
	font-family: museo, serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;

}

.container {
	display: inline-block;

}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: museo, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;

}


input[type=text] {
	width: 180px;
}

@media only screen and (max-width: 749px) {


	.grid {
		grid-template-columns: 1fr;
		width: 100%;
		margin: auto;
	}
	
	.grid_about {
		grid-template-columns: 1fr;

	}

	.shopping {
		grid-template-columns: 1fr;
	}

   .social { 
   }

}


@media only screen and (min-width: 750px) {


	.grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
		width: 70%;
	}
	
	.grid_about {
		grid-template-columns: 1fr 1fr;
	}

	.shopping {
		grid-template-columns: 1fr 1fr;
	}

   

}


@media only screen and (max-width: 1024px) {
    label {
        display: block;
        grid-template-columns: 1fr;
   }


   .grid {
	width: 60%;
	margin: auto;
}

   .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
		background-color: #F7D65E;
		border-bottom: 1px solid;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    .inner_main_menu {
    	display: none;
    }

.homepage header{ 

	background: url("../images/chickenandrice_home_mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;

	background-color: #F7D65E;

 }
	



}



@media only screen and (min-width: 1025px) {
	.menu {display: none;}
	.nav{display: none;}
	header {
		grid-template-columns: 1fr 1fr;

	}
	.shopping {
		grid-template-columns: 1fr 1fr 1fr;

	}


	.grid_about .right-row2 {
		grid-column: 2;
		grid-row: 2;
	}
	.grid_about .left-row2 {
		grid-column: 1;
		grid-row: 2;
	}

	.grid_about .right-row4 {
		grid-column: 2;
		grid-row: 4;
	}
	.grid_about .left-row4 {
		grid-column: 1;
		grid-row: 4;
	}


}


@media only screen and (min-width: 1200px) {
	.menu {display: none;}
	.nav{display: none;}


.grid_about .right-row2 {
	grid-column: 2;
	grid-row: 2;
}
.grid_about .left-row2 {
	grid-column: 1;
	grid-row: 2;
}

.grid_about .right-row4 {
	grid-column: 2;
	grid-row: 4;
}
.grid_about .left-row4 {
	grid-column: 1;
	grid-row: 4;
}

}
	

@media only screen and (min-width: 1440px) {
	.menu {display: none;}
	.nav{display: none;}
	header {
		grid-template-columns: 1fr 1fr;

	}
	.grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px;
		width: 50%;
	}

	.grid_about .right-row2 {
	grid-column: 2;
	grid-row: 2;
}
	.grid_about .left-row2 {
		grid-column: 1;
		grid-row: 2;
	}

	.grid_about .right-row4 {
		grid-column: 2;
		grid-row: 4;
	}
	.grid_about .left-row4 {
		grid-column: 1;
		grid-row: 4;
	}


}








